@charset "UTF-8";
/* ==================== */
/* = Main UI CSS File = */
/* ==================== */
/* ============== */
/* = Header Bar = */
/* ============== */
/* line 20, ../scss/ui.scss */
body > header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  height: 60px;
  position: relative;
  min-width: 760px;
  background-color: #f3f3f3;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f8f8f8', endColorstr='#eeeeee');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eeeeee')";
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(top, #f8f8f8 0%, #eeeeee 100%);
  background-image: linear-gradient(top, #f8f8f8 0%, #eeeeee 100%);
}
/* line 26, ../scss/ui.scss */
body > header a.logo {
  display: block;
  float: left;
  width: 160px;
  height: 60px;
  text-align: center;
  font: normal 10px/60px Arial, sans-serif;
  color: rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.1);
}
/* line 36, ../scss/ui.scss */
body > header section.quick_search {
  float: left;
}
/* line 38, ../scss/ui.scss */
body > header section.quick_search div {
  padding: 10px 0 10px 10px;
  float: left;
}
/* line 41, ../scss/ui.scss */
body > header section.quick_search div input[type=text] {
  display: block;
  font: normal 14px/14px Arial, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.75);
  width: 120px;
  padding: 5px;
  margin-bottom: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
/* line 51, ../scss/ui.scss */
body > header section.quick_search div input[type=text]:focus {
  background-color: #FEE8D7;
}
/* line 55, ../scss/ui.scss */
body > header section.quick_search div label {
  display: block;
  font: normal 11px/12px Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
}
/* line 60, ../scss/ui.scss */
body > header section.quick_search div button {
  display: block;
  font: normal 14px/16px Arial, sans-serif;
  border: 1px solid #669de8;
  border: 1px solid #8d3603;
  padding: 5px 10px;
  margin-bottom: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  background-color: #d0400b;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#fb5214', endColorstr='#a62f03');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb5214', endColorstr='#a62f03')";
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fb5214), color-stop(100%, #a62f03));
  background-image: -moz-linear-gradient(top, #fb5214 0%, #a62f03 100%);
  background-image: linear-gradient(top, #fb5214 0%, #a62f03 100%);
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 76, ../scss/ui.scss */
body > header section.user_account {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 82, ../scss/ui.scss */
body > header section.user_account a.user {
  position: relative;
  z-index: 100;
  display: block;
  margin: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
}
/* line 91, ../scss/ui.scss */
body > header section.user_account a.user img {
  display: block;
  float: left;
  margin: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 97, ../scss/ui.scss */
body > header section.user_account a.user span {
  color: rgba(0, 0, 0, 0.75);
  font: bold 11px/40px Arial, sans-serif;
  background: url(../img/user_arrow.png) 100% 0 no-repeat;
  padding: 0 25px 0 5px;
}
/* line 103, ../scss/ui.scss */
body > header section.user_account a.user:hover {
  background-color: #FFF;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 109, ../scss/ui.scss */
body > header section.user_account a.user.active {
  background-color: #FFF;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #FFF;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 117, ../scss/ui.scss */
body > header section.user_account div.user_menu {
  display: none;
  position: absolute;
  top: 51px;
  right: 10px;
  width: 160px;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -moz-border-radius: 5px 0 5px 5px;
  -webkit-border-radius: 5px 0 5px 5px;
  -ms-border-radius: 5px 0 5px 5px;
  border-radius: 5px 0 5px 5px;
}
/* line 126, ../scss/ui.scss */
body > header section.user_account div.user_menu ul {
  margin: 0;
  list-style: none;
  padding: 5px 0;
}
/* line 130, ../scss/ui.scss */
body > header section.user_account div.user_menu ul li.separator {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 135, ../scss/ui.scss */
body > header section.user_account div.user_menu ul li a {
  display: block;
  font: normal 12px/24px Arial, sans-serif;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
}
/* line 141, ../scss/ui.scss */
body > header section.user_account div.user_menu ul li a:hover {
  background-color: #c6d4d9;
  color: #FFF;
}

/* Wizard */
/* line 153, ../scss/ui.scss */
h1.wizard {
  font: normal 20px/20px Arial, sans-serif;
  width: 600px;
  margin: 40px auto 10px auto;
}

/* line 158, ../scss/ui.scss */
section.wizard {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #dbaf3c;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
/* line 162, ../scss/ui.scss */
section.wizard.photo_upload {
  width: 400px;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
/* line 165, ../scss/ui.scss */
section.wizard.photo_upload input[type=text] {
  width: 366px;
}
/* line 168, ../scss/ui.scss */
section.wizard.photo_upload div.wizard_body {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
/* line 173, ../scss/ui.scss */
section.wizard header {
  border-bottom: 1px solid #dbaf3c;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  background-color: #f3e4bd;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
}
/* line 178, ../scss/ui.scss */
section.wizard header ul {
  display: table;
  margin: 0 auto;
  list-style: none;
}
/* line 182, ../scss/ui.scss */
section.wizard header ul li {
  display: table-cell;
  width: 120px;
  background: url(../img/wizard.png) 50% -50px no-repeat;
  padding: 15px 0;
}
/* line 187, ../scss/ui.scss */
section.wizard header ul li:first-child {
  background-position: 50% 0;
}
/* line 188, ../scss/ui.scss */
section.wizard header ul li:last-child {
  background-position: 50% -100px;
}
/* line 189, ../scss/ui.scss */
section.wizard header ul li span {
  display: block;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  background-color: #fdd3c4;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#fee6dd', endColorstr='#fdc1ab');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee6dd', endColorstr='#fdc1ab')";
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fee6dd), color-stop(100%, #fdc1ab));
  background-image: -moz-linear-gradient(top, #fee6dd 0%, #fdc1ab 100%);
  background-image: linear-gradient(top, #fee6dd 0%, #fdc1ab 100%);
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-background-clip: border;
  -webkit-background-clip: border;
  -ms-background-clip: border-box;
  background-clip: border-box;
}
/* line 201, ../scss/ui.scss */
section.wizard header ul li.active span, section.wizard header ul li.completed span {
  background-color: #d0400b;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#fb5214', endColorstr='#a62f03');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb5214', endColorstr='#a62f03')";
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fb5214), color-stop(100%, #a62f03));
  background-image: -moz-linear-gradient(top, #fb5214 0%, #a62f03 100%);
  background-image: linear-gradient(top, #fb5214 0%, #a62f03 100%);
}
/* line 208, ../scss/ui.scss */
section.wizard footer {
  border-top: 1px solid #dbaf3c;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background-color: #f3e4bd;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  padding: 10px;
  text-align: right;
}
/* line 215, ../scss/ui.scss */
section.wizard footer button {
  display: inline-block;
  font: normal 14px/30px Arial, sans-serif;
  padding: 0 15px;
  margin-left: 5px;
  background-color: #fdd3c4;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#fee6dd', endColorstr='#fdc1ab');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee6dd', endColorstr='#fdc1ab')";
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fee6dd), color-stop(100%, #fdc1ab));
  background-image: -moz-linear-gradient(top, #fee6dd 0%, #fdc1ab 100%);
  background-image: linear-gradient(top, #fee6dd 0%, #fdc1ab 100%);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 225, ../scss/ui.scss */
section.wizard footer button.hot_button {
  background-color: #d0400b;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#fb5214', endColorstr='#a62f03');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb5214', endColorstr='#a62f03')";
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fb5214), color-stop(100%, #a62f03));
  background-image: -moz-linear-gradient(top, #fb5214 0%, #a62f03 100%);
  background-image: linear-gradient(top, #fb5214 0%, #a62f03 100%);
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 231, ../scss/ui.scss */
section.wizard footer button:active {
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.75);
}
/* line 236, ../scss/ui.scss */
section.wizard div.wizard_body {
  padding: 10px;
  background-color: #FFF;
}
/* line 239, ../scss/ui.scss */
section.wizard div.wizard_body h2 {
  font: normal 16px/20px Arial, sans-serif;
  color: #bf4904;
  margin: 0 0 10px 0;
}
/* line 244, ../scss/ui.scss */
section.wizard div.wizard_body h3 {
  font: normal 14px/20px Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}
/* line 249, ../scss/ui.scss */
section.wizard div.wizard_body p {
  font: normal 12px/20px Arial, sans-serif;
  margin: 0 0 0 20px;
}
/* line 252, ../scss/ui.scss */
section.wizard div.wizard_body p label {
  padding-left: 5px;
}
/* line 256, ../scss/ui.scss */
section.wizard div.wizard_body div.label {
  float: left;
  width: 120px;
  padding-bottom: 10px;
}
/* line 260, ../scss/ui.scss */
section.wizard div.wizard_body div.label label {
  font: bold 12px/30px Arial, sans-serif;
  color: rgba(0, 0, 0, 0.75);
  display: block;
}
/* line 266, ../scss/ui.scss */
section.wizard div.wizard_body div.label_field {
  float: left;
  width: 460px;
  padding-bottom: 10px;
}
/* line 270, ../scss/ui.scss */
section.wizard div.wizard_body div.label_field input[type=text] {
  font: normal 16px/20px Arial, sans-serif;
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid #bf4904;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 277, ../scss/ui.scss */
section.wizard div.wizard_body div.label_field input[type=text]:focus {
  background-color: #FEE8D7;
}
/* line 281, ../scss/ui.scss */
section.wizard div.wizard_body div.label_field input[type=radio] + label {
  font: normal 14px/30px Arial, sans-serif;
  padding-left: 10px;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
}
/* line 288, ../scss/ui.scss */
section.wizard div.wizard_body div.label_field select {
  font: normal 16px/20px Arial, sans-serif;
  display: inline-block;
}
/* line 292, ../scss/ui.scss */
section.wizard div.wizard_body div.label_field span {
  display: block;
  padding-top: 5px;
  font: normal 11px/12px Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
}
